[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = thcolin
	email = th.colin3@gmail.com
[core]
	editor = nano
[commit]
	template = ~/.gitmessage
[alias]
	graph = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	sttaus = status
	lgo = log
	ll = status
	lll = status
[push]
	default = current
[branch]
	autosetuprebase = always
