/*
!.atom
.atom/*
!.atom/.gitignore
!.atom/codesandebox.json
!.atom/config.cson
!.atom/github.cson
!.atom/init.coffee
!.atom/keymap.cson
!.atom/packages.txt
!.atom/snippets.cson
!.atom/styles.less
!.nano
!.gitconfig
!.gitignore
!.gitmessage
!.iterm2
!.itermcolors
!.nanorc
!.neofetch
!.neofetch_ascii
!.zshrc
!Brewfile
